*
{
padding: 0px;
margin: 0px;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body.bgIMG
{
	min-height: 100vh;
	background-image: url('../img/hero-banner.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	justify-content: center;
	background-repeat: no-repeat;
}

.logotype{
	width: 100%;
	display: fixed;
	height: auto;
	top: 0;
	position: fixed;
}

.logocas{
	height: auto;
	width: 28vh;
	padding-left: 1em;
	padding-top: 10px;
	padding-bottom: 1em;
}

.loginfull{
	background-color: rgb(255, 255, 255, .8);
	width: 90%;
	height: auto;
	padding: 6vh 3vh;
	position: absolute;
	text-align: center;
	top: -15em;
}

.infoAgent{
	position: relative;
	right: 1em;
	color: #1a5da3;
	text-align: right;
	list-style: none;
	margin-top: -5em;
}

.divmiddle{
	margin-top: 30px;
	margin-bottom: 30px;
}

.inform{
	position: absolute;
	top: 15vh;
}

.textes{
	color: #FFF;
	text-shadow: 1px 1px 3px #0053a0;
}

h1.textes{
	padding: 50px 0;
	font-size: 42px;
}

p.textes{
	padding: 20px;
	font-size: 32px;
}

img.icons{
	max-width: 180px;
}

.icons:hover{
	-webkit-filter: drop-shadow(10px 50px 20px #FFF)
    drop-shadow(-10px -20px 20px #FFF);
    filter: drop-shadow(10px 20px 20px #FFF)
    drop-shadow(-10px -20px 20px #FFF);
}

.footdynamic{
	width: 100%;
	display: fixed;
	height: auto;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 776px) {
  .logocas{
  	width: 20vh;
  	padding-left: 1em;
  	margin-top: 0;
  }

	img.icons{
	max-width: 100px;
	}

	h1.textes{
		font-size: 28px;
	}

	p.textes{
		font-size: 20px;
	}

	.iconos{
		margin-top: 5vh;
	}

	li {
		font-size: 11px !important;
	}

}